In [2]:
import pandas as pd

In [3]:
batting = pd.read_csv('data/baseballdatabank-master/core/batting.csv')

In [148]:
salaries = pd.read_csv('data/baseballdatabank-master/core/Salaries.csv')

In [149]:
batting['OBP'] = (batting['H'] + batting['BB'] + batting['HBP'])/(batting['AB'] + batting['BB'] + batting['HBP'] + batting['SF'])

In [150]:
batting[(batting['playerID'] == 'hattesc01') & (batting['yearID'] == 2002)]

,playerID,yearID,stint,teamID,lgID,G,AB,R,H,2B,...,SB,CS,BB,SO,IBB,HBP,SH,SF,GIDP,OBP
82476,hattesc01,2002,1,OAK,AL,136,492,58,138,22,...,0.0,0.0,68,56.0,1.0,6.0,1.0,1.0,8.0,0.373898

2002 Analysis

In [163]:
top_20_paid_2002 = salaries[salaries['yearID'] == 2002].sort_values('salary',ascending=False).head(20)['playerID'].to_list()
top_20_paid_2002.remove('belleal01')

In [164]:
obp_highest_paid_players_2002 = [[batting[(batting['playerID'] == player) & (batting['yearID'] == 2002)]['OBP'].values for player in top_20_paid_2002][num][0] for num in range(len(top_20_paid_2002))]

In [167]:
obp_highest_paid_players_2002

[0.3917241379310345,
 0.40605095541401276,
 0.25,
 0.4498069498069498,
 0.5816993464052288,
 0.3993993993993994,
 0.37276478679504815,
 0.16666666666666666,
 0.3854014598540146,
 0.16129032258064516,
 0.1864406779661017,
 0.4213381555153707,
 0.41487839771101576,
 0.34946236559139787,
 0.4350453172205438,
 0.32432432432432434,
 0.40086830680173663,
 0.6,
 0.30149253731343284]

In [181]:
top_salaries_2002 = salaries[salaries['yearID'] == 2002].sort_values('salary',ascending=False).head(21)
top_salaries_2002.drop(labels=14050,axis=0,inplace=True)
top_salaries_2002['salary'].to_list()

[22000000,
 19400000,
 15714286,
 15462727,
 15000000,
 15000000,
 14600000,
 14000000,
 13416667,
 13350000,
 13100000,
 12666667,
 12357143,
 12166667,
 11333333,
 11000000,
 11000000,
 11000000,
 11000000,
 10571429]