In [2]:
import pandas as pd

In [3]:
batting = pd.read_csv('data/baseballdatabank-master/core/batting.csv')

In [4]:
batting['OBP'] = (batting['H'] + batting['BB'] + batting['HBP'])/(batting['AB'] + batting['BB'] + batting['HBP'] + batting['SF'])

In [8]:
batting[(batting['playerID'] == 'hattesc01') & (batting['yearID'] == 2002)]

,playerID,yearID,stint,teamID,lgID,G,AB,R,H,2B,...,SB,CS,BB,SO,IBB,HBP,SH,SF,GIDP,OBP
82476,hattesc01,2002,1,OAK,AL,136,492,58,138,22,...,0.0,0.0,68,56.0,1.0,6.0,1.0,1.0,8.0,0.373898

2002 Analysis

In [138]:
top_20_paid = ['rodrial01',
 'delgaca01',
 'brownke01',
 'ramirma02',
 'bondsba01',
 'sosasa01',
 'jeterde01',
 'martipe02',
 'greensh01',
 'johnsra05',
 'maddugr01',
 'walkela01',
 'willibe02',
 'vaughmo01',
 'jonesch06',
 'gonzaju03',
 'bagweje01',
 'mussimi01',
 'mondera01',
 'piazzmi01']

In [146]:
obp_highest_paid_players_2002 = [[batting[(batting['playerID'] == player) & (batting['yearID'] == 2002)]['OBP'].values for player in top_20_paid][num][0] for num in range(len(top_20_paid))]